.App {
  position: fixed;
  width: fit-content;
  transform: translate(calc(50vw - 50%), calc(50vh - 50%));
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
